# Relatório de Análise VI

Neste sexto relatório, nosso objetivo consistirá em criar novos campos em nossa base de dados a fim de adicionar valor a nossas análises.

## Criando Novos Campos

In [1]:
# Importa o pandas com o apelido pd
import pandas as pd

# Importa o módulo os
import os

# Muda para o diretório com os dados
os.chdir('dados')

# Importa o CSV com os dados de imóveis residenciais
imoveis = pd.read_csv('imoveis-residenciais.csv', sep=';')

# Exibe as cinco primeiras linhas do dataframe
imoveis.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0

In [2]:
# Cria uma coluna para o valor bruto mensal a ser pago pelo imóvel
imoveis['Valor Bruto'] = imoveis['Valor'] + imoveis['Condominio'] + imoveis['IPTU']
imoveis.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0

In [6]:
# Cria uma coluna com o valor do aluguel por metro quadrado do imóvel
imoveis['Valor m²'] = (imoveis['Valor'] / imoveis['Area']).round(2)
imoveis.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m²,Valor Bruto m²
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.500000
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.000000
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.666667
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.458333
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.360000
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.333333
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.384615
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.657143
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.877778
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.275000

In [8]:
# Cria uma coluna para indicar o valor bruto do metro quadrado
imoveis['Valor Bruto m²'] = (imoveis['Valor Bruto'] / imoveis['Area']).round(2)
imoveis.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m²,Valor Bruto m²
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28

In [9]:
# Obtém uma série com os tipos únicos da coluna tipo
imoveis['Tipo'].drop_duplicates()

0              Quitinete
1                   Casa
2            Apartamento
5     Casa de Condomínio
81          Casa de Vila
Name: Tipo, dtype: object

In [10]:
tipos_de_casas = ['Casa', 'Casa de Condomínio', 'Casa de Vila']
tipos_de_casas

['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [11]:
# Aplica uma função mapeadora na coluna de tipo do imóvel
# Para cada valor da coluna `Tipo`, a função retorna ou 'Casa' ou 'Apartamento'
# Se o imóvel for um dos tipos de casa, retorna 'Casa'
# Caso contrário, retorna 'Apartamento'
imoveis['Tipo'].map(lambda x: 'Casa' if x in tipos_de_casas else 'Apartamento')

0        Apartamento
1               Casa
2        Apartamento
3        Apartamento
4        Apartamento
            ...
21821    Apartamento
21822    Apartamento
21823    Apartamento
21824    Apartamento
21825    Apartamento
Name: Tipo, Length: 21826, dtype: object

In [12]:
# Cria uma nova coluna no dataframe
# Indica qual o tipo do imóvel: ou casa ou apartamento
imoveis['Tipo Agregado'] = imoveis['Tipo'].map(lambda x: 'Casa' if x in tipos_de_casas else 'Apartamento')
imoveis.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m²,Valor Bruto m²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28,Apartamento

In [13]:
# Remove as colunas criadas
imoveis.drop(['Valor m²', 'Valor Bruto m²'], axis=1, inplace=True)
imoveis.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,Apartamento

In [14]:
# Exporta a base de dados
imoveis.to_csv('imoveis-residenciais.csv', sep=';', index=False)