# Relatório de Análise IV

Neste quarto relatório, nosso objetivo consistirá em determinar a quantidade de imóveis que obedecem as seguintes condições:

- Imóveis classificados como 'Apartamento'
- Imóveis classificados como 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
- Imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
- Imóveis com pelo menos 4 quartos e aluguel de até R$ 2.000,00

## Determinando a Frequência de cada Tipo de Imóvel

In [1]:
# Importa o pandas com o apelido pd
import pandas as pd

# Importa o módulo os
import os

# Muda para o diretório com os dados
os.chdir('dados')

# Importa o CSV com os dados de imóveis residenciais
imoveis = pd.read_csv('imoveis-residenciais.csv', sep=';')

# Exibe as cinco primeiras linhas do dataframe
imoveis.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [2]:
# Seleciona somente os imóveis do tipo apartamento
filtro = imoveis['Tipo'] == 'Apartamento'

# Obtém o número de imóveis do tipo apartamento
n1 = imoveis[filtro].shape[0]

# Exibe o tamanho da série
n1

19532

In [3]:
# Seleciona somente os imóveis do tipo casa, casa de condomínio e casa de vila
filtro = imoveis['Tipo'].isin(['Casa', 'Casa de Condomínio', 'Casa de Vila'])

# Obtém o número de imóveis dos tipos especificados
n2 = imoveis[filtro].shape[0]

# Exibe o tamanho da série
n2

2212

In [4]:
# Seleciona os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
filtro = (imoveis['Area'] >= 60) & (imoveis['Area'] <= 100) 

# Obtém o número de imóveis com as áreas obdecendo as condições
n3 = imoveis[filtro].shape[0]

# Exibe o tamanho da série
n3

8719

In [5]:
# Seleciona os imóveis com pelo menos 4 quatros e com aluguel menor do que R$ 2.000,00
filtro = (imoveis['Quartos'] >= 4) & (imoveis['Valor'] < 2000)

# Obtém o número de imóveis com pelo menos 4 quatros e aluguel inferior a R$ 2.000,00
n4 = imoveis[filtro].shape[0]

# Exibe o tamanho da série
n4

41

In [6]:
print(f"Nº de imóveis classificados como 'Apartamento': {n1}")
print(f"Nº de imóveis classificados como 'Casa', 'Casa de Condomínio' e 'Casa de Vila': {n2}")
print(f"Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: {n3}")
print(f"Nº de imóveis com pelo menos 4 quartos e aluguel de até R$ 2.000,00: {n4}")

Nº de imóveis classificados como 'Apartamento': 19532
Nº de imóveis classificados como 'Casa', 'Casa de Condomínio' e 'Casa de Vila': 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: 8719
Nº de imóveis com pelo menos 4 quartos e aluguel de até R$ 2.000,00: 41